[submodule "vendor/symfony/DependencyInjection"]
	path = vendor/symfony/DependencyInjection
	url = git://github.com/symfony/DependencyInjection.git
[submodule "vendor/fabpot/Pimple"]
	path = vendor/fabpot/Pimple
	url = git://github.com/fabpot/Pimple.git
[submodule "vendor/symfony/Config"]
	path = vendor/symfony/Config
	url = git://github.com/symfony/Config.git
[submodule "vendor/symfony/Yaml"]
	path = vendor/symfony/Yaml
	url = git://github.com/symfony/Yaml.git
